html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: #000;
  cursor: pointer; }

p {
  line-height: 25px;
  color: #6c757d; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

html, body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1.5rem;
    padding-left: 1.5rem; } }

.row {
  display: flex;
  margin-right: -1.5rem;
  margin-left: -1.5rem;
  flex-wrap: wrap; }

.bg-gray {
  background-color: #f8f9fa; }

.bg-dark {
  background-color: #343a3f; }

.white-text {
  color: #fff; }

.column-4 {
  max-width: 29%;
  flex: 0 0 30%;
  position: relative;
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

.d-flex {
  display: flex; }

.navbar {
  padding: 1rem 0; }
  .navbar .container {
    display: flex;
    justify-content: space-between; }
  .navbar .logo {
    font-size: 20px;
    font-weight: 600; }
  .navbar .navbar-nav:first-of-type {
    margin-right: 4rem; }
  .navbar .navbar-nav:last-of-type {
    margin-left: 4rem; }
  .navbar .navbar-nav .nav-item a {
    padding: 1rem;
    display: flex;
    font-size: 13px;
    text-transform: uppercase;
    color: #000; }
    .navbar .navbar-nav .nav-item a .nav-item__icon {
      margin-left: 5px; }
  .navbar .navbar-nav .dropdown-menu {
    display: none;
    transition: display 1s; }
    .navbar .navbar-nav .dropdown-menu .show {
      display: block; }

.banner {
  background: url(../images/banner.jpg) no-repeat center;
  background-size: 100% 100%;
  height: 780px;
  position: relative; }
  .banner .banner__content {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-48%, -50%);
    text-align: center; }
  .banner .banner__author {
    text-transform: uppercase;
    font-size: 13px;
    color: #eee;
    margin-bottom: 40px; }
  .banner .banner__title {
    font-size: 35px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 35px; }
  .banner .banner__paragraph {
    color: #fff;
    line-height: 30px;
    margin-bottom: 35px; }
  .banner .banner__link {
    color: #fff;
    display: inline-block;
    padding: 18px 20px;
    border: 1px solid #f5ba4b;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer; }
    .banner .banner__link:hover {
      color: #fff; }

.section {
  padding: 120px 0; }
  .section .section__top {
    text-align: center;
    width: 45%;
    margin: 0 auto; }
  .section .section__header {
    font-size: 26px;
    font-weight: 550;
    margin-bottom: 24px; }
  .section .section__paragraph {
    color: #6c757d;
    line-height: 27px;
    word-spacing: 2px;
    margin-bottom: 3rem; }

.thumbnails .thumnail a {
  cursor: pointer; }

.thumbnails .thumnail .thumbnail__img {
  max-width: 100%;
  height: auto; }

.thumbnails .thumnail .thumbnail__content {
  padding: 2.5rem 2rem; }
  .thumbnails .thumnail .thumbnail__content .thumbnail__title {
    margin-bottom: 1rem;
    font-size: 18px; }
  .thumbnails .thumnail .thumbnail__content .new {
    color: #fff;
    background-color: #dc3545;
    font-size: 75%;
    font-weight: 700;
    padding: .25em .4em; }

.line-top {
  position: absolute;
  left: 50%;
  height: 7.5rem;
  transform: translateY(-150%);
  border-left: 2px solid #f5ba4b; }

.text-hide {
  opacity: 0; }

.quote {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: row; }
  .quote:before {
    font-family: Font Awesome\ 5 Free;
    font-size: 26px;
    font-weight: 900;
    line-height: 1.5;
    min-width: 2.5rem;
    content: "\f10d"; }
  .quote .quote__content {
    font-size: 18px;
    color: #000;
    line-height: 36px;
    margin-top: 0;
    margin-bottom: 1.5rem; }

.feature {
  text-align: center; }
  .feature .feature__icon {
    margin-bottom: 1.5rem; }
    .feature .feature__icon span > i {
      color: #f5ba4b;
      font-size: 25px; }
  .feature .feature__title {
    color: #fff;
    margin-bottom: 1rem; }
