doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
        link(rel="stylesheet", href="css/global.css")
    include pug/mixins.pug
    include pug/variables.pug
    body
        nav.navbar
            .container.d-flex
                a.logo(href="#") incline
                .navbar-collapse.d-flex    
                    ul.navbar-nav.d-flex
                        li.nav-item-devider
                            span
                        li.nav-item
                            a.nav-link(href="#")
                                i(class="fab fa-github")
                        li.nav-item
                            a.nav-link(href="#")
                                i(class="fab fa-twitter")
                        li.nav-item
                            a.nav-link(href="#")
                                i(class="fab fa-instagram")
                    ul.navbar-nav.d-flex
                        +nav_item_dropdown("Welcome", "welcome.html", "active") 
                            ul.dropdown-menu
                                each val, index in welcomeDropdown
                                    +nav_item( index + ".html")= val
                        +nav_item_dropdown("landings", "landings.html") 
                            ul.dropdown-menu
                                each val, index in langdingDropdown
                                    +nav_item( index + ".html")= val
                        +nav_item_dropdown("pages", "landings.html") 
                            ul.dropdown-menu
                                each val, index in pageDropdown
                                    +nav_item( index + ".html")= val
                        +nav_item_dropdown("components", "landings.html") 
                            ul.dropdown-menu
                                each val, index in componentsDropdown
                                    +nav_item( index + ".html")= val
                        +nav_item("documentation.html") documentation
                        +nav_item("purchase.html") purchase now
        section.banner
            .banner__content
                p.banner__author  by Simpleqode
                h2.banner__title Landing pages for any occasion
                p.banner__paragraph Incline is set of landing and support pages aimed at helping companies promote new products and business launches.
                a.banner__link(href="#") purchase now
        section.section
            .container
                +section_top("Landing page variants", "Incline comes with several professionally designed landing pages that can be easily adapted for any project.")
                .row.thumbnails
                    +thumbnail("images/45.png", "company landing", "You can use this page to promote your web or mobile application.", false)
                    +thumbnail("images/45.png", "fullpage scrolling", "You can use this page to promote your web or mobile application.", true)
                    +thumbnail("images/45.png", "product landing", "You can use this page to promote your web or mobile application.", false)
                    +thumbnail("images/45.png", "Real estate landing", "You can use this page to promote your web or mobile application.", false)
                    +thumbnail("images/45.png", "Restaurant landing", "You can use this page to promote your web or mobile application.", true)
                    +thumbnail("images/45.png", "Service landing", "You can use this page to promote your web or mobile application.", false)
                    +thumbnail("images/45.png", "App landing", "You can use this page to promote your web or mobile application.", false)
        section.section.bg-gray
            div.line-top
            .container
                +section_top("Header variants", "Polish your landing page with one of the header options below to impress your visitors at first glance.","hide")
                .row.thumbnails
                    +thumbnail("images/45.png", "company landing", "You can use this page to promote your web or mobile application.", false, "hide")
                    +thumbnail("images/45.png", "fullpage scrolling", "You can use this page to promote your web or mobile application.", true, "hide")
                    +thumbnail("images/45.png", "product landing", "You can use this page to promote your web or mobile application.", false, "hide")
        section.section
            .container
                .quote
                    blockquote.quote__blockquote
                        p.quote__content This theme is a Swiss Army knife of Bootstrap themes. Built with components in mind, it can be easily adjusted to create layouts of any complexity within a few minutes.
                        span.quote__author Yuri Gamin, Moscow
        section.section.bg-dark
            .container
                +section_top("Key theme features", "Incline can be used to create anything from a small marketing page to a sophisticated website.", "", "white")
                .row.features
                    +feature("<i class='fas fa-tv'></i>", "Fully responsive", "Looks great on all major browsers, tablets and mobile devices.")
                    +feature("<i class='fas fa-tv'></i>", "Fully responsive", "Looks great on all major browsers, tablets and mobile devices.")
                    +feature("<i class='fas fa-tv'></i>", "Fully responsive", "Looks great on all major browsers, tablets and mobile devices.")
        section.section
            .container
                .workflow-left
                    h3.section__header Intuitive workflow
                    ul.workflow-left__list
                        +list("Speed up your development process with Gulp and BrowserSync live browser reload")
                        +list("Speed up your development process with Gulp and BrowserSync live browser reload")
                        +list("Speed up your development process with Gulp and BrowserSync live browser reload")
                    a(href="#") Documentation
                .workflow-right
                    img(src="images/47.jpg", alt="workflow image")
        section.section
            .container
                +section_top("Ultimate solution", "Easily create a website of any complexity with dozens of pages and independent components for any purpose.")
                .solutions
                    +solution("images/24.jpg","<i class='fas fa-check'></i>", "Support pages", "Finish off your website with multiple support pages included into the package.")
                    +solution("images/24.jpg","<i class='fas fa-check'></i>", "Support pages", "Finish off your website with multiple support pages included into the package.")
                    +solution("images/24.jpg","<i class='fas fa-check'></i>", "Support pages", "Finish off your website with multiple support pages included into the package.")
        section.section
            .container
                +section_top("Pricing options", "Secure payment via Stripe or Paypal. 100% money back guarantee.")
                .options
                    +option("Standard license", "$49.00")
                        ul
                            +list("Use for a single product")
                            +list("Non-paying users only")
                            +list("Read")
                                a(href="#") full description
                    +option("Standard license", "$49.00")
                        ul
                            +list("Use for a single product")
                            +list("Non-paying users only")
                            +list("Read")
                                a(href="#") full description
        section.section
            .container
                .section__left
                    h3.section__header Download it from the Bootstrap marketplace
                    p.section__paragraph Each theme featured at the Bootstrap marketplace has been reviewed by Bootstrap's creators. Six month technical support by the theme author is provided.
                .section__right
                    a.btn-outline(href="#") purchase now
        footer
            .container
                .footer__left   
                    p
                        a.logo(href="#") incline
                    p.copyright © Copyright 2019 Simpleqode. All rights reserved.
                .footer__right
                    ul.menu__footer
                        li
                            a(href="#") Terms and conditions
                        li
                            a(href="#") Privacy policy
                        li
                            a(href="#") Contact us
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link(href="#")
                                i(class="fab fa-github")
                        li.nav-item
                            a.nav-link(href="#")
                                i(class="fab fa-twitter")
                        li.nav-item
                            a.nav-link(href="#")
                                i(class="fab fa-instagram")
script(src= "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
script(src= "js/script.js")
