- var items = { welcome : 'Welcome', landings: 'Landings', pages: 'pages', components : 'components', documentation : 'documentation', purchase : 'purchase now' };
- var icons = {  github: 'fa-github', twitter : 'fa-twitter', instagram: 'fa-instagram'};
- var welcomeDropdown =  { image : "Header : image", carousel: "Header : carousel", parallax : "Header : parallax", video : "Header : video"};
- var langdingDropdown =  ["app", "company", "fullpage", "product", "real estate", "restaurant", "service"];
- var pageDropdown =  ["app", "company", "fullpage", "product", "real estate", "restaurant", "service"];
- var componentsDropdown =  ["app", "company", "fullpage", "product", "real estate", "restaurant", "service"];
//- - var thumbnailList = [
//-                         { imageName : "app", title : "App landing", summary : "You can use this page to promote your web or mobile application.", new : false },
//-                         { imageName : "company", title : "App landing", summary : "You can use this page to promote your web or mobile application.", new : false },
//-                         { imageName : "fullpage", title : "App landing", summary : "You can use this page to promote your web or mobile application.", new : false },
//-                         { imageName : "product", title : "App landing", summary : "You can use this page to promote your web or mobile application.", new : true },
//-                         { imageName : "real", title : "App landing", summary : "You can use this page to promote your web or mobile application.", new : false },
//-                         { imageName : "restaurant", title : "App landing", summary : "You can use this page to promote your web or mobile application.", new : false },
//-                         { imageName : "service", title : "App landing", summary : "You can use this page to promote your web or mobile application.", new : true },
//-                         { imageName : "app", title : "App landing", summary : "You can use this page to promote your web or mobile application.", new : false },
//-                     ];